.choose-hotel-plane
    ul.choose-title
        li 全部类型
        li 星级酒店
        li 特色餐厅
    ul.choose-body
        li
            .label
                span 区域
                span.on 全部
            a(href='') 武侯区
            a(href='') 金牛区
            a(href='') 高新区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 温江区
            a(href='') 武侯区
            a(href='') 武侯区
            a(href='') 成华区
        li
            .label
                span 桌数
                span.on 全部
            a(href='') 10桌一下
            a(href='') 10桌-20桌
            a(href='') 20桌-30桌
            a(href='') 30桌以上
        li
            .label
                span 价格
                span.on 全部
            a(href='') 2000元一下
            a(href='') 2000-3000
            a(href='') 3000-4000
            a(href='') 4000元以上
            input.min(type='text')
            span.spect -
            input.max(type='text')
            span.yuan 元
        li
            .label
                span 特色
                span.on 全部
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
            a(href='') 草坪婚礼
    .up-arrow


