<header class="site-header">
      <%- include('miniheader') %>
      <div class="search-container">
        <div class="logo">
          <a href="index.html" title="返回首页" alt="logo">
            <img src="../images/logo.png" alt="" width="81" height="91" />
          </a>
        </div>
        <div class="search-box">
          <div class="shop-car">
            购物车
          </div>
          <form class="search-bar" action="" method="post">
            <input type="search" name="" id="" placeholder="搜索您需要的东西" />
            <input type="submit" value="搜索" />
          </form>
        </div>
      </div>
      <!-- /搜索栏-->
      <!-- 导航-->
      <nav class="nav">
        <a href="javascript:;" class="all-good">
          全部商品分类
        </a>
        <a href="index.html">
          首页
        </a>
        <a href="hr.html">
          人才
        </a>
        <a href="javascript:;">
          喜庆商品
        </a>
        <a href="hotel.html" title="">酒店</a>
        <a href="wedding_dress.html">
          婚纱店
        </a>
        <a href="">
          蜜月旅
        </a>
        <a href="javascript:;">
          3D
        </a>
        <a href="javascript:;">
          管理
        </a>
        <a href="city_exchange.html">同城互换</a>
      </nav>
      <!-- /导航-->
    </header>