<header class="site-header">
      <div class="site-header-in">
        <span>
          欢迎访问 喜庆风暴商城
        </span>
        <div class="login">
          <a href="javascript:;" class="btn">
            登录
          </a>
          <a href="javascript:;" class="line">
            |
          </a>
          <a href="javascript:;" class="btn">
            注册
          </a>
        </div>
        <!-- 搜索栏-->
      </div>
      <div class="hr">
      </div>
      <div class="search-container">
        <div class="logo">
          <a href="index.html" title="返回首页" alt="logo">
            <img src="../images/logo.png" alt="" width="81" height="91" />
          </a>
        </div>
        <div class="search-box">
          <div class="shop-car">
            购物车
          </div>
          <form class="search-bar" action="" method="post">
            <input type="search" name="" id="" placeholder="搜索您需要的东西" />
            <input type="submit" value="搜索" />
          </form>
        </div>
      </div>
      <!-- /搜索栏-->
      <!-- 导航-->
      <nav class="nav">
        <a href="javascript:;" class="all-good">
          全部商品分类
        </a>
        <a href="index.html">
          首页
        </a>
        <a href="hr.html">
          人才
        </a>
        <a href="javascript:;">
          喜庆商品
        </a>
        <a href="javascript:;">
          婚纱店
        </a>
        <a href="hotel.html">
          蜜月旅
        </a>
        <a href="javascript:;">
          3D
        </a>
        <a href="javascript:;">
          管理
        </a>
      </nav>
      <!-- /导航-->
    </header>