<div class="site-header-in">
  <div class="wrap">
    <span>
      欢迎访问 喜庆风暴商城
    </span>
    <div class="login">
      <a href="login.html" class="btn">
        登录
      </a>
      <a href="javascript:;" class="line">
        |
      </a>
      <a href="regist_set_login_name_by_email.html" class="btn">
        注册
      </a>
    </div>
  </div>
</div>