//通用样式引入
@import url(lib.less);

//*---------------------------------------------------------------------------------------*/
//*  start your less code from here
//*---------------------------------------------------------------------------------------*/
body {
  background-color: white;
}

.container {
  width: @site-width;
  margin: 0 auto;
}

.choose-plane {
  .border-radius(2px);
  border: 1px solid @site-border-color;
  color: @text-grey;
  > ul {
    li {
      padding: 14px 0;
    }
  }
  .label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  a {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
  }
  a.on {
    color: @site-main-color;
  }
}

.sort-plane {
  .border-radius(2px);
  font-size: 14px;
  background-color: #f4efef;
  padding: 12px 15px;
  span {
    color: @site-main-color;
    padding-right: 15px;
  }
  a {
    color: @text-grey;
    padding: 10px 15px;
  }
}

.talent-title {
  font-size: 28px;
  padding: 20px 0;
  border-bottom: 2px solid @site-border-color;
  color: @site-main-color;
}

.banner-bottom {
  position: relative;
  font-size: 0;
  margin-top: 42px;
  border-bottom: 2px solid @site-border-color;
  .box {
    width: 275px;
    float: left;
    display: inline-block;
    text-align: center;
    .professional {
      float: left;
      font-size: 16px;
      margin-top: 10px;
      color: @text-grey;
    }
    .name {
      float: right;
      margin-top: 10px;
      font-size: 16px;
      color: @site-main-color;
    }
  }
  .box-in {
    width: 225px;
    margin: 0 auto;
    a {
      display: block;
    }
  }
}
.banner-bottom-box {
  position: relative;
  width: 100%;
  height: 275px;
  overflow: hidden;
}
.banner-bottom-box-container {
  position: absolute;
  left: 0;
  width: 10000px;
  height: 275px;
}
.nav-banner-bottom-prev {
  left: 0;
  background: url("@{base-images}wedding/icon/icon-prev.png") no-repeat center center transparent;
}
.nav-banner-bottom-next {
  right: 0;
  background: url("@{base-images}wedding/icon/icon-next.png") no-repeat center center transparent;
}
.nav-banner-bottom-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 60px;
  &:hover {
    background-color: rgba(192, 192, 192, 0.33);
  }
}

.talent-content {
  .box {
    position: relative;
    padding: 10px 35px 15px 20px;
    border-bottom: 1px solid @site-border-color;
    .des {
      padding-left: 15px;
      display: inline-block;
      color: @text-grey;
      vertical-align: top;
      .name {
        font-size: 30px;
      }
      .cate {
        margin: 15px 0;
      }
    }
    .say {
      padding: 8px 0;
      color: @text-grey;
    }
    .money {
      position: absolute;
      right: 35px;
      top: 40%;
      z-index: 10;
      color: @text-grey;
      span {
        font-size: 30px;
        color: @site-main-color;
      }
    }
  }
}



//hr detail
.hr-info{ margin-top: 26px;
  
  img{ margin-right: 26px;}
  h1{ font-size: 30px; margin-bottom: 40px;}
  .info{ margin-left: 400px; font-size: 16px;
    p,.feld{ margin-bottom: 24px;}
    .serv_type{color: @tc; border: 2px solid @tc; position: relative; padding: 8px 25px; border-radius: 2px; overflow: hidden; margin-right: 20px;
      i{ position: absolute; right: 0; bottom: 0; .bgs(0px -124px); width: 28px; height: 31px;}
    }
    .get_address{ color: @tc;}
    .phone{ width: 13px; height: 18px; .bgs(-2px -92px);}
    .show_time{ background-color: #01b5ae; margin-right: 18px;}
    .get_time{ margin-right: 18px;}
    .talk_now{
      i{ width: 31px; height: 29px; .bgs(-40px -127px); margin-right: 5px;}
    }
    .num{ margin-left: 20px;}

  }

  
  
  .ms-wp{ padding-right: 40px;}
}

.nav-bar-float{
  .hr-info{ margin-bottom: 63px;}
  .nav-bar{position: fixed; top: 0; z-index: 100;}
}
