
    <%- include('common/head', { style: 'other'}) %>
    <%- include('common/header') %>
    <div class="city-typefilter wrap">

      <div class="filter_area cf">
        <div class="citys fl">
          <span class="fl title">区域：</span>
          <div class="city_list">
            <a href="" class="on">全部</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
          </div>
        </div>
        <form action="" class="search fr">
          <input type="text" class="text">
          <input type="submit" class="submit">
        </form>
      </div>

      <div class="filter_type">
        <a href="" class="on">全部</a>
        <a href="">音乐</a>
        <a href="">图片</a>
        <a href="">音乐</a>
        <a href="">图片</a>
        <a href="">音乐</a>
        <a href="">图片</a>
        <a href="">音乐</a>
        <a href="">图片</a>
      </div>
    </div>

    <div class="city_ex_list wrap">
      <div class="ex_item">
        <div class="title cf">
          <a href="city_exchange_detail.html" class="name fl">图片共享婚宴补助补助布置</a>
          <div class="fr info">
            <span class="di">
              <i class="icon"></i>
              <s class="di">HHRRKS</s>
            </span>
            <span class="time di">18:21</span>
          </div>
        </div>
        <div class="description">
          <p>花艺大会万科哈利建立擦完就拉倒就拉我就的啊我不能啊我的理解awljaw爸爸我好</p>
          <div class="img">
            <img src="../images/service_price.jpg" alt="" height="190">
          </div>
        </div>
      </div>

      <div class="ex_item">
        <div class="title cf">
          <a href="city_exchange_detail.html" class="name fl">图片共享婚宴补助补助布置</a>
          <div class="fr info">
            <span class="di">
              <i class="icon"></i>
              <s class="di">HHRRKS</s>
            </span>
            <span class="time di">18:21</span>
          </div>
        </div>
        <div class="description">
          <p>花艺大会万科哈利建立擦完就拉倒就拉我就的啊我不能啊我的理解awljaw爸爸我好</p>
          <div class="img">
            <img src="../images/service_price.jpg" alt="" height="190">
          </div>
        </div>
      </div>

      <div class="ex_item">
        <div class="title cf">
          <a href="city_exchange_detail.html" class="name fl">图片共享婚宴补助补助布置</a>
          <div class="fr info">
            <span class="di">
              <i class="icon"></i>
              <s class="di">HHRRKS</s>
            </span>
            <span class="time di">18:21</span>
          </div>
        </div>
        <div class="description">
          <p>花艺大会万科哈利建立擦完就拉倒就拉我就的啊我不能啊我的理解awljaw爸爸我好</p>
          <div class="img">
            <img src="../images/service_price.jpg" alt="" height="190">
          </div>
        </div>
      </div>
    </div>
    
    <!-- /安全说明-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/index.js"></script>
  </body>
</html>