
    <%- include('common/head', { style: 'other'}) %>
    <%- include('common/header') %>
    <div class="city-typefilter wrap">

      <div class="filter_area cf">
        <div class="citys fl">
          <span class="fl title">区域：</span>
          <div class="city_list">
            <a href="" class="on">全部</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
            <a href="">青羊区</a>
            <a href="">高新区</a>
            <a href="">金牛去</a>
          </div>
        </div>
        <form action="" class="search fr">
          <input type="text" class="text">
          <input type="submit" class="submit">
        </form>
      </div>

      <div class="filter_type">
        <a href="" class="on">全部</a>
        <a href="">音乐</a>
        <a href="">图片</a>
        <a href="">音乐</a>
        <a href="">图片</a>
        <a href="">音乐</a>
        <a href="">图片</a>
        <a href="">音乐</a>
        <a href="">图片</a>
      </div>
    </div>

    <div class="ex_detail wrap">
      <h1>这里是标题这里是标题</h1>
      <div class="ex_box">
        <div class="ex_item cf">
          <div class="head fl">
            <i class="tag"></i>
            <img src="../images/per_head.jpg" alt="" width="100" height="100">
            <p class="name omit">欧系小兵adasdad安嗖嗖嗖</p>
          </div>
          <div class="entry_box">
            当下最新婚礼现场布置，教你如何合理配置，分享我婚宴现场的一些图片，希望大家喜欢。
            电话：18281819998
            <p><img src="../images/service_price.jpg" alt=""></p>
             <p><img src="../images/service_price.jpg" alt=""></p>
              <p><img src="../images/service_price.jpg" alt=""><img src="../images/service_price.jpg" alt=""><img src="../images/service_price.jpg" alt=""></p>
          </div>
        </div>
        
        <div class="ex_item cf">
          <div class="head fl">
            <img src="../images/per_head.jpg" alt="" width="100" height="100">
            <p class="name omit">欧系小兵adasdad安嗖嗖嗖</p>
          </div>
          <div class="entry_box">
            当下最新婚礼现场布置，教你如何合理配置，分享我婚宴现场的一些图片，希望大家喜欢。
            电话：18281819998
          </div>
        </div>

        <div class="ex_item cf">
          <div class="head fl">
            <img src="../images/per_head.jpg" alt="" width="100" height="100">
            <p class="name omit">欧系小兵adasdad安嗖嗖嗖</p>
          </div>
          <div class="entry_box">
            当下最新婚礼现场布置，教你如何合理配置，分享我婚宴现场的一些图片，希望大家喜欢。
            电话：18281819998
          </div>
        </div>
      </div>
    </div>

    <div class="pagination wrap">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li class="next">下一页 ></li>
        </ul>
    </div>

    <form action="" class="ex_commit_form wrap">
      <h2>发表回复</h2>
      <div class="tx_wp"><textarea name="" id="" cols="30" rows="10"></textarea></div>
      <p class="sb_wp"><input type="submit" class="submit abtn" value="发表"></p>
    </form>
    
    <!-- /安全说明-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/index.js"></script>
  </body>
</html>