
    <%- include('common/head', { style: 'hotel'}) %>
    <%- include('common/header') %>
    <div class="choose-hotel-plane">
    <ul class="choose-title">
        <li class="on">全部类型</li>
        <li>星级酒店</li>
        <li>特色餐厅</li>
    </ul>
    <ul class="choose-body">
        <li>
            <div class="label"><span>区域</span><span class="on">全部</span></div>
            <a href="">武侯区</a><a href="">金牛区</a><a href="">高新区</a><a href="">武侯区</a><a href="">武侯区</a><a href="">武侯区</a><a
                href="">武侯区</a><a href="">武侯区</a><a href="">武侯区</a><a href="">武侯区</a><a href="">温江区</a><a
                href="">武侯区</a><a href="">武侯区</a><a href="">成华区</a></li>
        <li>
            <div class="label"><span>桌数</span><span class="on">全部</span></div>
            <a href="">10桌一下</a><a href="">10桌-20桌</a><a href="">20桌-30桌</a><a href="">30桌以上</a></li>
        <li>
            <div class="label"><span>价格</span><span class="on">全部</span></div>
            <a href="">2000元一下</a><a href="">2000-3000</a><a href="">3000-4000</a><a href="">4000元以上</a><input
                type="text" class="min"><span class="spect">-</span><input type="text" class="max"><span
                class="yuan">元</span></li>
        <li>
            <div class="label"><span>特色</span><span class="on">全部</span></div>
            <a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a
                href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a
                href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a href="">草坪婚礼</a><a
                href="">草坪婚礼</a><a href="">草坪婚礼</a></li>
    </ul>
    <div class="up-arrow"></div>
</div>
<div class="sort-plane"><span class="default on">默认排序</span><a href="" class="click">酒店量级 ∧</a><a href="" class="click">价格
    ∨</a><a href="" class="click">桌数 ∨</a>

    <div class="right"><span>找到婚宴酒店<i>300</i>家</span><span class="spect">|</span><a href="hotel.html" class="v on"></a><a href="hotel_v.html" class="h"></a>
    </div>
</div>
<div class="choose-hotel-content">
    <div class="box-v"><a href="hotel_detail.html" title=""><img src="../images/show.jpg" width="500" height="300" class="img">
        <div class="title"><span class="name">索菲时辰丙谷胺</span><span class="money">￥1899-4999</span></div>
        <div><span class="stars">4.2</span><span class="mark">星级酒店 | 青羊区人民中路 | 可容纳50桌</span></div>
        <div class="table">
            <div class="th">
                <div class="yanhuiti">宴会厅</div>
                <div class="zuosu">桌数</div>
                <div class="cengsu">层数</div>
                <div class="zhusu">柱数</div>
            </div>
            <div class="tr">
                <div class="yanhuiti">国色天香 2F</div>
                <div class="zuosu"><i>50</i>桌</div>
                <div class="cengsu">4米</div>
                <div class="zhusu">2</div>
            </div>
        </div>
        <div class="bottom"><a class="look">查看宴会厅</a><a class="share">分享</a><a class="collection">收藏</a></div>
        </a>
    </div>
    <div class="box-v"><a href="hotel_detail.html" title=""><img src="../images/show.jpg" width="500" height="300" class="img">
        <div class="title"><span class="name">索菲时辰丙谷胺</span><span class="money">￥1899-4999</span></div>
        <div><span class="stars">4.2</span><span class="mark">星级酒店 | 青羊区人民中路 | 可容纳50桌</span></div>
        <div class="table">
            <div class="th">
                <div class="yanhuiti">宴会厅</div>
                <div class="zuosu">桌数</div>
                <div class="cengsu">层数</div>
                <div class="zhusu">柱数</div>
            </div>
            <div class="tr">
                <div class="yanhuiti">国色天香 2F</div>
                <div class="zuosu"><i>50</i>桌</div>
                <div class="cengsu">4米</div>
                <div class="zhusu">2</div>
            </div>
        </div>
        <div class="bottom"><a class="look">查看宴会厅</a><a class="share">分享</a><a class="collection">收藏</a></div>
        </a>
    </div>
    <div class="box-v"><a href="hotel_detail.html" title=""><img src="../images/show.jpg" width="500" height="300" class="img">
        <div class="title"><span class="name">索菲时辰丙谷胺</span><span class="money">￥1899-4999</span></div>
        <div><span class="stars">4.2</span><span class="mark">星级酒店 | 青羊区人民中路 | 可容纳50桌</span></div>
        <div class="table">
            <div class="th">
                <div class="yanhuiti">宴会厅</div>
                <div class="zuosu">桌数</div>
                <div class="cengsu">层数</div>
                <div class="zhusu">柱数</div>
            </div>
            <div class="tr">
                <div class="yanhuiti">国色天香 2F</div>
                <div class="zuosu"><i>50</i>桌</div>
                <div class="cengsu">4米</div>
                <div class="zhusu">2</div>
            </div>
        </div>
        <div class="bottom"><a class="look">查看宴会厅</a><a class="share">分享</a><a class="collection">收藏</a></div>
        </a>
    </div>
    <div class="box-v"><a href="hotel_detail.html" title=""><img src="../images/show.jpg" width="500" height="300" class="img">
        <div class="title"><span class="name">索菲时辰丙谷胺</span><span class="money">￥1899-4999</span></div>
        <div><span class="stars">4.2</span><span class="mark">星级酒店 | 青羊区人民中路 | 可容纳50桌</span></div>
        <div class="table">
            <div class="th">
                <div class="yanhuiti">宴会厅</div>
                <div class="zuosu">桌数</div>
                <div class="cengsu">层数</div>
                <div class="zhusu">柱数</div>
            </div>
            <div class="tr">
                <div class="yanhuiti">国色天香 2F</div>
                <div class="zuosu"><i>50</i>桌</div>
                <div class="cengsu">4米</div>
                <div class="zhusu">2</div>
            </div>
        </div>
        <div class="bottom"><a class="look">查看宴会厅</a><a class="share">分享</a><a class="collection">收藏</a></div>
        </a>
    </div>
    <div class="box-v"><a href="hotel_detail.html" title=""><img src="../images/show.jpg" width="500" height="300" class="img">
        <div class="title"><span class="name">索菲时辰丙谷胺</span><span class="money">￥1899-4999</span></div>
        <div><span class="stars">4.2</span><span class="mark">星级酒店 | 青羊区人民中路 | 可容纳50桌</span></div>
        <div class="table">
            <div class="th">
                <div class="yanhuiti">宴会厅</div>
                <div class="zuosu">桌数</div>
                <div class="cengsu">层数</div>
                <div class="zhusu">柱数</div>
            </div>
            <div class="tr">
                <div class="yanhuiti">国色天香 2F</div>
                <div class="zuosu"><i>50</i>桌</div>
                <div class="cengsu">4米</div>
                <div class="zhusu">2</div>
            </div>
        </div>
        <div class="bottom"><a class="look">查看宴会厅</a><a class="share">分享</a><a class="collection">收藏</a></div>
        </a>
    </div>
    <div class="pagination">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li class="next">下一页 ></li>
        </ul>
    </div>
</div>
    <!-- /安全说明-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/hotel.js"></script>
  </body>
</html>