
    <%- include('common/head', { style: 'hr'}) %>
    <%- include('common/header') %>
    <div class="container">
        <div class="choose-plane">
            <ul>
                <li><span class="label">人才类型:</span><a href="" class="on">全部</a><a href="">督导</a><a href="">花艺</a><a
                        href="">摄影师</a><a href="">策划</a><a href="">场布兼职</a><a href="">婚庆团队</a><a href="">化妆师</a><a href="">摄像</a><a
                        href="">主持人</a></li>
                <li><span class="label">性别:</span><a href="" class="on">全部</a><a href="">男</a><a href="">女</a></li>
                <li><span class="label">地区:</span><a href="" class="on">全部</a><a href="">重庆</a><a href="">河北</a><a href="">成都</a>
                </li>
                <li><span class="label">价格:</span><a href="" class="on">全部</a><a href="">0-1000</a><a
                        href="">1001-2000</a><a href="">2001-3000</a><a href="">3000以上</a></li>
            </ul>
        </div>
        <div class="sort-plane"><span>默认排序</span><a href="">价格 ∧</a><a href="">预定量 ∨</a><a href="">好评率 ∨</a></div>
        <div class="talent-title">人才推荐</div>
        <div class="banner-bottom">
            <div class="banner-bottom-box">
                <div id="banner-bottom-content" class="banner-bottom-box-container">
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                    <div class="box">
                        <div class="box-in"><a href="hr_detail.html"><img src="../images/person.jpg" alt=""
                                                            width="225" height="225">

                            <div class="professional"> 化妆师</div>
                            <div class="name">小三</div>
                        </a></div>
                    </div>
                </div>
            </div>
            <div id="nav-banner-bottom-prev" title="上一个" class="nav-banner-bottom-prev nav-banner-bottom-btn"></div>
            <div id="nav-banner-bottom-next" title="下一个" class="nav-banner-bottom-next nav-banner-bottom-btn"></div>
        </div>
        <div class="talent-content">
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
            <div class="box">
                <div class="top"><img src="../images/person-1.jpg" width="175" height="200">

                    <div class="des">
                        <div class="name">姓名: 人才3-化妆</div>
                        <div class="cate">服务类型:　新娘全程跟妆</div>
                        <div class="bili">定义比例: 12% 信誉度: 100%</div>
                    </div>
                </div>
                <div class="say">服务说明：宴会化妆，风格唯美，三个造型...</div>
                <div class="money">主持价：￥<span>3600</span>/场</div>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li class="next">下一页 ></li>
            </ul>
        </div>
    </div>
<!-- 尾部-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../../public/js/wedding/index.js"></script>
  </body>
</html>