
    <%- include('common/head', { style: 'passport'}) %>
    <%- include('common/miniheader') %>
    <div class="login-content wrap">
      <h1><a class="logo di"></a><span class="di">欢迎注册</span></h1>
      <div class="regist_box">

        <div class="regist_step step_2">
          <span class="step step_a">
            <i>1</i><span class="di">设置登录名</span>
          </span>
          <span class="step step_b">
            <i>2</i><span class="di">填写账户信息</span>
          </span>
          <span class="step step_c">
            <i>√</i><span class="di">注册成功</span>
          </span>
        </div>

        <div class="form_box">
          
        </div>
      </div>
    </div>
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/index.js"></script>
  </body>
</html>