
    <%- include('common/head', { style: 'passport'}) %>
    <%- include('common/miniheader') %>
    <div class="login-content wrap">
      <h1><a class="logo di"></a><span class="di">欢迎注册</span></h1>
      <div class="regist_box">

        <div class="regist_step step_3">
          <span class="step step_a">
            <i>1</i><span class="di">设置登录名</span>
          </span>
          <span class="step step_b">
            <i>2</i><span class="di">填写账户信息</span>
          </span>
          <span class="step step_c">
            <i>√</i><span class="di">注册成功</span>
          </span>
        </div>

        <div class="info_box">
          <h2><i class="di">√</i><span class="di">恭喜您成功注册喜庆风暴:)</span></h2>
          <p class="feld"><span class="name">登录名：</span><span class="tcc">15200000000</span></p>
          <p class="feld"><span class="name">绑定手机：</span><span>15200000000</span></p>
          <p class="feld"><span class="name">会员名：</span><span>tb1232232</span></p>
        </div>
      </div>
    </div>
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/regist.js"></script>
  </body>
</html>