
    <%- include('common/head', { style: 'wedding_dress'}) %>
    <%- include('common/header') %>
    <div class="container-dress">
      <div class="filter_bar">
        婚纱店分类：
        <a class="on">全部</a>
        <a href="" title="">婚纱影楼</a>
        <a href="" title="">摄影工作室</a>
        <a href="" title="">三洋密钥婚纱摄影</a>
        <a href="" title="">柯达影楼合作伙伴</a>
      </div>

      <div class="wedding_list">
        <ul>
          <li class="cf">
            <a href="wedding_dress_detail.html" class="link" title=""></a>
            <div class="img fl">
              <img src="../images/wedding_stor.jpg" alt="">
            </div>
            <div class="info fl">
              <h2>成都维纳斯婚纱店</h2>
              <p><span class="di">店铺推荐：</span><i class="star_bar di"><b style="width: 80%"></b></i><span class="di tcc">4.2</span></p>
              <p><span class="di address">地址：顺城大街129号&emsp;|&emsp;</span><a class="show_map" href="" title=""><i class="di icon"></i><span class="di">查看地图</span></a></p>
              <p class="ph">电话：028-1234578</p>
              <p class="times">已有<span class="tcc">140766</span>位新人访问过</p>
            </div>
            <div class="fr activity">
              <div class="imgbox">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
              </div>
              <p class="figer">共有(96)个相册(1258)张照片</p>
              <p class="tcc kh">活动：【5.1钜惠  风暴来袭】</p>
            </div>
          </li>
          <li class="cf">
            <a href="wedding_dress_detail.html" class="link" title=""></a>
            <div class="img fl">
              <img src="../images/wedding_stor.jpg" alt="">
            </div>
            <div class="info fl">
              <h2>成都维纳斯婚纱店</h2>
              <p><span class="di">店铺推荐：</span><i class="star_bar di"><b style="width: 80%"></b></i><span class="di tcc">4.2</span></p>
              <p><span class="di address">地址：顺城大街129号&emsp;|&emsp;</span><a class="show_map" href="" title=""><i class="di icon"></i><span class="di">查看地图</span></a></p>
              <p class="ph">电话：028-1234578</p>
              <p class="times">已有<span class="tcc">140766</span>位新人访问过</p>
            </div>
            <div class="fr activity">
              <div class="imgbox">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
              </div>
              <p class="figer">共有(96)个相册(1258)张照片</p>
              <p class="tcc kh">活动：【5.1钜惠  风暴来袭】</p>
            </div>
          </li>
          <li class="cf">
            <a href="wedding_dress_detail.html" class="link" title=""></a>
            <div class="img fl">
              <img src="../images/wedding_stor.jpg" alt="">
            </div>
            <div class="info fl">
              <h2>成都维纳斯婚纱店</h2>
              <p><span class="di">店铺推荐：</span><i class="star_bar di"><b style="width: 80%"></b></i><span class="di tcc">4.2</span></p>
              <p><span class="di address">地址：顺城大街129号&emsp;|&emsp;</span><a class="show_map" href="" title=""><i class="di icon"></i><span class="di">查看地图</span></a></p>
              <p class="ph">电话：028-1234578</p>
              <p class="times">已有<span class="tcc">140766</span>位新人访问过</p>
            </div>
            <div class="fr activity">
              <div class="imgbox">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
                <img src="../images/activity.jpg" alt="">
              </div>
              <p class="figer">共有(96)个相册(1258)张照片</p>
              <p class="tcc kh">活动：【5.1钜惠  风暴来袭】</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="pagination">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li class="next">下一页 ></li>
            </ul>
        </div>
    </div>
    <!-- /主体-->
    <!-- /安全说明-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/index.js"></script>
  </body>
</html>