
    <%- include('common/head', { style: 'wedding_dress'}) %>
    <%- include('common/header') %>
    <div class="container-dress">
      <div class="nav-bar" id="navBar">
            <a href="#persIntro" class="on">热门活动</a>
            <a href="#serviceType" title="">商家相册</a>
            <a href="wedding_dress_price.html" title="">服务报价</a>
            <a href="#newScheduled" title="">网友案例</a>
            <a href="#userMsg" title="">用户点评</a>
            <a href="#appIntro" title="" class="last">预约说明</a>
      </div>

      <div class="sess-info">
        <!-- 热门活动 -->
        <div class="hot_activity">
          <a class="show_more" href="">更多>></a>
          <h2 class="tcc">维纳斯婚纱优惠活动</h2>
          <div class="activity_d cf">
            <img src="../images/activity_head.jpg" class="fl" alt="">
            <div class="activity_head fl">
              <p><i class="di"></i><span class="di">【5.1钜惠  风暴来袭】</span></p>
              <p><i class="di"></i><span class="di">2015春季活动【这个春天 马尔代夫私奔到海】</span></p>
            </div>
          </div>
        </div>

        <!-- 商家相册 -->
        <div class="store_album">
            <div class="work_title">
                <a class="show_more" href="">更多>></a>
                <h2 class="tcc"> 维纳斯婚纱作品展示</h2>
            </div>
          
            <div class="work_list">
              <ul>
                    <li>
                        <a href="" title="" class="imgbox">
                        <img src="../images/dress_detail.jpg" alt="">
                        </a>
                        <a href="" title="" class="omit">【韩国馆MASTER PIECE】玻璃</a>
                    </li>
                    <li>
                        <a href="" title="" class="imgbox">
                        <img src="../images/dress_detail.jpg" alt="">
                        </a>
                        <a href="" title="" class="omit">【韩国馆MASTER PIECE】玻璃</a>
                    </li>
                    <li>
                        <a href="" title="" class="imgbox">
                        <img src="../images/dress_detail.jpg" alt="">
                        </a>
                        <a href="" title="" class="omit">【韩国馆MASTER PIECE】玻璃</a>
                    </li>
                    <li>
                        <a href="" title="" class="imgbox">
                        <img src="../images/dress_detail.jpg" alt="">
                        </a>
                        <a href="" title="" class="omit">【韩国馆MASTER PIECE】玻璃</a>
                    </li>
                    <li>
                        <a href="" title="" class="imgbox">
                        <img src="../images/dress_detail.jpg" alt="">
                        </a>
                        <a href="" title="" class="omit">【韩国馆MASTER PIECE】玻璃</a>
                    </li>
                    <li>
                        <a href="" title="" class="imgbox">
                        <img src="../images/dress_detail.jpg" alt="">
                        </a>
                        <a href="" title="" class="omit">【韩国馆MASTER PIECE】玻璃</a>
                    </li>
              </ul>
            </div>

            <div class="work_title">
                <a class="show_more" href="">更多>></a>
                <h2 class="tcc"> 维纳斯婚纱婚礼视频</h2>
            </div>

            <div class="show_movie">
                <ul>
                    <li><a href="" title=""><img src="../images/movie.jpg" width="330" height="220" alt=""></a>
                        <div class="mask"></div>
                        <p class="name omit">成都维纳斯婚纱摄影《相遇》</p>
                    </li>
                    <li><a href="" title=""><img src="../images/movie.jpg" width="330" height="220" alt=""></a>
                        <div class="mask"></div>
                        <p class="name omit">成都维纳斯婚纱摄影《相遇》成都维纳斯婚纱摄影《相遇》</p>
                    </li>
                    <li><a href="" title=""><img src="../images/movie.jpg" width="330" height="220" alt=""></a>
                        <div class="mask"></div>
                        <p class="name omit">成都维纳斯婚纱摄影《相遇》</p>
                    </li>
                </ul>
            </div>

            <div class="work_title">
                <a class="show_more" href="">更多>></a>
                <h2 class="tcc">维纳斯婚纱服务报价</h2>
            </div>

            <div class="service_price">
                <ul>
                    <li><a href="" title=""><img src="../images/service_price.jpg" width="310" height="310" alt=""></a>
                        <p class="name">店家推荐【春季花海】系列</p>
                        <p class="price"><span class="tcc">￥3299</span><del>原价￥3999</del></p>
                    </li>
                    <li><a href="" title=""><img src="../images/service_price.jpg" width="310" height="310" alt=""></a>
                        <p class="name">店家推荐【春季花海】系列</p>
                        <p class="price"><span class="tcc">￥3299</span><del>原价￥3999</del></p>
                    </li>
                    <li><a href="" title=""><img src="../images/service_price.jpg" width="310" height="310" alt=""></a>
                        <p class="name">店家推荐【春季花海】系列</p>
                        <p class="price"><span class="tcc">￥3299</span><del>原价￥3999</del></p>
                    </li>
                    <li><a href="" title=""><img src="../images/service_price.jpg" width="310" height="310" alt=""></a>
                        <p class="name">店家推荐【春季花海】系列</p>
                        <p class="price"><span class="tcc">￥3299</span><del>原价￥3999</del></p>
                    </li>
                    <li><a href="" title=""><img src="../images/service_price.jpg" width="310" height="310" alt=""></a>
                        <p class="name">店家推荐【春季花海】系列</p>
                        <p class="price"><span class="tcc">￥3299</span><del>原价￥3999</del></p>
                    </li>
                    <li><a href="" title=""><img src="../images/service_price.jpg" width="310" height="310" alt=""></a>
                        <p class="name">店家推荐【春季花海】系列</p>
                        <p class="price"><span class="tcc">￥3299</span><del>原价￥3999</del></p>
                    </li>
                </ul>
            </div>

            <div class="work_title">
                <a class="show_more" href="">更多>></a>
                <h2 class="tcc">维纳斯婚纱网友案例</h2>
            </div>

            <div class="anli_list">
                <div class="item">
                    <p class="link"><i class="icon di"></i><a href="" class="di" title="">#晒幸福#【9年的爱情长跑】终成夫妻。众多亲朋好友眼里的神秘婚纱照大片已曝光（求祝福）</a><span class="time">2015-01-14  16:28:58</span></p>
                    <div class="img_list">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                    </div>
                </div>

                <div class="item">
                    <p class="link"><i class="icon di"></i><a href="" class="di" title="">#晒幸福#【9年的爱情长跑】终成夫妻。众多亲朋好友眼里的神秘婚纱照大片已曝光（求祝福）</a><span class="time">2015-01-14  16:28:58</span></p>
                    <div class="img_list">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                        <img src="../images/anli-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 用户点评 -->
        <div class="user_msg" id="userMsg">
            <a class="show_more tcc" href="">查看点评</a>
            <h2>用户点评</h2>
            <div class="get_cout cf">

                <div class="fl num_cout">
                    <p class="num tcc">4.2</p>
                    <p><i class="star_bar di"><b style="width: 80%"></b></i></p>
                    <p>共有<i class="tcc">14</i>个用户点评</p>
                </div>

                <div class="fl bar_cout">
                    <div class="bar">
                        <span class="name">态度：4.0分</span>
                        <i class="bar_line"><b style="width:80%"></b></i>
                    </div>
                    <div class="bar">
                        <span class="name">质量：4.0分</span>
                        <i class="bar_line"><b style="width:80%"></b></i>
                    </div>
                    <div class="bar">
                        <span class="name">服务：4.0分</span>
                        <i class="bar_line"><b style="width:80%"></b></i>
                    </div>
                </div>

                <div class="fl i_try">
                    <a href="" title="" class="abtn">我要点评</a>
                </div>
            </div>

            <div class="inner_list">
                <ul>
                    <li class="cf">
                        <a class="fl uh">
                            <img src="../images/person.jpg" alt="">
                        </a>
                        <div class="fl un">
                            <p>大少爷</p>
                            <p class="time">2015-02-19</p>
                        </div>
                        <div class="fl ui">
                            <p>
                                <i class="star_bar"><b style="width:80%"></b></i>
                                <span>5分</span>
                                <span>态度：4分</span>
                                <span>质量：4分</span>
                                <span>服务：4分</span>
                            </p>
                            <div class="entry">
                                <span class="msg">参加婚宴去的，感觉萌萌哒</span>
                                <span class="address">索菲丝景苑宾馆</span>
                            </div>
                        </div>
                    </li>
                    <li class="cf">
                        <a class="fl uh">
                            <img src="../images/person.jpg" alt="">
                        </a>
                        <div class="fl un">
                            <p>大少爷</p>
                            <p class="time">2015-02-19</p>
                        </div>
                        <div class="fl ui">
                            <p>
                                <i class="star_bar"><b style="width:80%"></b></i>
                                <span>5分</span>
                                <span>态度：4分</span>
                                <span>质量：4分</span>
                                <span>服务：4分</span>
                            </p>
                            <div class="entry">
                                <span class="msg">参加婚宴去的，感觉萌萌哒</span>
                                <span class="address">索菲丝景苑宾馆</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <form class="add_msg">
                <div class="form_t">我要评论</div>
                <div class="cf">
                    <div class="get_star fl">
                        <p class="form_note"><i class="tcc">*</i>请点击图标进行评分</p>
                        <p class="do_cout">
                            综合评分：<span class="num">4</span>分
                        </p>
                        <p><span class="bar_name di">态度</span><i class="star_bar"><b style="width:80%"></b></i></p>
                        <p><span class="bar_name di">质量</span><i class="star_bar"><b style="width:80%"></b></i></p>
                        <p><span class="bar_name di">服务</span><i class="star_bar"><b style="width:80%"></b></i></p>
                    </div>

                    <div class="msg">
                        <p class="note">20-500个字</p>
                        <textarea name="" maxlength="500" minlength="20" placeholder="写下您的感受"></textarea>
                        <p class="submit">
                            <input type="submit" class="abtn abtn_disabled" value="提交评论">
                        </p>
                    </div>
                </div>
                
            </form>
        </div>

        <!-- 预约说明 -->
        <div class="app_intro" id="appIntro">
            <h2>预定说明</h2>
            <div class="entry">
                <h3>接受预定</h3>
                <p>1.向新人介绍服务内容及演示案例，了解新人婚礼需求；</p>

                <p>2.找我网策划师全程1对1服务，服务质量有保障；</p>

                <p>方案报价</p>

                <p>1.勘察场地，获取婚礼现场布置数据；</p>

                <p>2.编写婚礼布置方案（如提供手绘或3D效果图，需支付出图费用）；</p>

                <p>3.确定布置方案及提供婚礼报价明细（成本价）；</p>

                <p>签订婚礼布置协议</p>

                <p>1.签订婚礼布置三方协议，向新人详细说明协议条款；</p>

                <p>2.协助新人在找我网支付婚礼布置首付款；</p>

                <p>婚礼筹备</p>

                <p>1.资源统筹</p>

                <p>2.协助新人在找我网支付婚礼布置首付款 <a href="" title="" class="tcc">[ 更多 ]</a></p>
            </div>
        </div>
      </div>
    </div>

    
    <!-- /安全说明-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/index.js"></script>
  </body>
</html>