
    <%- include('common/head', { style: 'wedding_dress'}) %>
    <%- include('common/header') %>
    <div class="container-dress">
        <div class="nav-bar" id="navBar">
            <a href="#persIntro" >热门活动</a>
            <a href="#serviceType" title="">商家相册</a>
            <a href="wedding_dress_price.html" title="" class="on">服务报价</a>
            <a href="#newScheduled" title="">网友案例</a>
            <a href="#userMsg" title="">用户点评</a>
            <a href="#appIntro" title="" class="last">预约说明</a>
        </div>

        <div class="price_box">
            <h2>服务报价</h2>
            <table class="price_table">
                <tr>
                    <td class="type_name" rowspan="3">基本信息</td>
                    <td class="type_wp">套餐名字</td>
                    <td>【韩式体验拍摄】系列</td>
                </tr>
                <tr>
                    <td class="type_wp">套餐价格</td>
                    <td><span class="tcc">喜庆风暴价：3299元</span>（原价5599）</td>
                </tr>
                <tr>
                    <td class="type_wp">套餐风格</td>
                    <td><span class="tcc">韩式</span></td>
                </tr>

                <tr>
                    <td class="type_name" rowspan="5">拍摄服务</td>
                    <td class="type_wp">拍摄场景</td>
                    <td>
                        <p class="tcc">内景</p>
                        <p>内景创意领地：3D韩式人文光效片场；《奥比都斯环球实景影城》</p>
                        <p class="tcc">外景</p>
                        <p>外景独家基地：田园风光私家外景基地《爱丽丝梦幻庄园》</p>
                    </td>
                </tr>
                <tr>
                    <td class="type_wp">服务人员</td>
                    <td>
                        <p class="tcc">共5名</p>
                        <p>5年以上经验【摄影师】</p>
                        <p>摄影师助理一名</p>
                        <p>三年以上经验【化妆师】</p>
                        <p>服务人员1名</p>
                    </td>
                </tr>
                <tr>
                    <td class="type_wp">拍摄时长</td>
                    <td class="tcc">共0小时</td>
                </tr>
                <tr>
                    <td class="type_wp">拍摄服装</td>
                    <td>
                        <p class="tcc">共6套</p>
                        <p>提供：欧洲国际精品白纱多款任选2套（搭配精美首饰）
          韩式经典晚礼服多款任选1套（搭配精美首饰）
          中式古装（格格服 旗袍 唐装 中山装）多款任选1套（搭配精美首饰）
          绅士礼服欧洲流行西服、奢华晚礼服、异域特色服装共选4套
          （腰带 丝绸 背心 领结免费更换搭配）</p>
                    </td>
                </tr>
                <tr>
                    <td class="type_wp">化妆服务</td>
                    <td><span class="tcc">共0组/人</span></td>
                </tr>
                <tr>
                    <td class="type_name" rowspan="4">产品内容</td>
                    <td class="type_wp">拍摄与入册</td>
                    <td>拍摄不少于<span class="tcc">100</span>张，选择<span class="tcc">36</span>张，精修入册</td>
                </tr>
                <tr>
                    <td class="type_wp">相册明细</td>
                    <td>
                        <p class="tcc">相册共2个</p>
                        <p>精装放大相册产品18寸赫曼威登相册（提供精美版据情美编设计）12寸赫曼威登相册（提供精美
版据情美编设计）免费赠送专属相册皮箱，免费升级白金卡内页制作（防潮、防腐）</p>
                    </td>
                </tr>
                <tr>
                    <td class="type_wp">摆台明细</td>
                    <td>
                        <p class="tcc">挂件共2个</p>
                        <p>10寸-1铂丽丝</p>
                        <p>10寸-1拉米</p>
                        <p>5寸-1太阳花</p>
                        <p>5寸-1水晶之恋</p>
                    </td>
                </tr>
                <tr>
                    <td class="type_wp">挂件明细</td>
                    <td>
                        <p class="tcc">挂件共2个</p>
                        <p>34*寸时尚经典热压高温油画框</p>
                        <p>22*寸时尚经典热压高温油画框</p>
                        <p>免费提供欧式、韩式多种边框任你选</p>
                    </td>
                </tr>
                <tr>
                    <td class="type_name" rowspan="7">其他服务</td>
                    <td class="type_wp">景点门票</td>
                    <td><span class="tcc">无</span>0元</td>
                </tr>
                <tr>
                    <td class="type_wp">拍摄午餐</td>
                    <td><span class="tcc">有</span>免费提供爱心午餐 2份</td>
                </tr>
                <tr>
                    <td class="type_wp">拍摄交通</td>
                    <td><span class="tcc">有</span></td>
                </tr>
                <tr>
                    <td class="type_wp">服务是否分区</td>
                    <td><span class="tcc">否</span></td>
                </tr>
                <tr>
                    <td class="type_wp">额外造型收费</td>
                    <td><span class="tcc">无</span></td>
                </tr>
                <tr>
                    <td class="type_wp">静修刻盘赠送</td>
                    <td><span class="tcc">有</span></td>
                </tr>
                <tr>
                    <td class="type_wp">其他额外赠送</td>
                    <td>套餐更多详情，青在线咨询客服！</td>
                </tr>
            </table>
            <div class="yybtn">
                <a href="" title="">立即预约</a>
            </div>
        </div>
    </div>

    
    <!-- /安全说明-->
    <%- include('common/footer') %>
    <%- include('common/script') %>
    <script src="../script/modules/index.js"></script>
  </body>
</html>